@model DAL.Models.Question

@{
    ViewBag.Title = "Details";
}

<div class="ps-0">
    <ul class="list-group">
        <li class="list-group-item active">@Html.DisplayFor(x => Model.Name)</li>
        @{ 
            foreach (DAL.Models.Answer item in Model.Answers)
            {
                <li class="list-group-item">
                    @Html.DisplayFor(x => item.Name)
                    @if (item.IsCorrect)
                    {
                        <span>
                            (Correct answer)
                        </span>
                    }
                    @Html.ActionLink("Delete answer", "Delete", "Answers", new { Id = item.Id, QuestionId = Model.Id }, new { @class = "btn btn-outline-secondary p-1" })
                </li>
            }
        }
    </ul>
    <div class="pt-4 ps-3">
        @Html.ActionLink("Create answer", "Create", "Answers", new { QuestionId = Model.Id, TestId = Model.TestId }, new { @class = "btn btn-primary btn-lg p-2 me-sm-3" })
        @Html.ActionLink("Back to list", "Details", "Tests", new { Id = Model.TestId }, new { @class = "btn btn-outline-secondary btn-lg px-4" })
    </div>
</div>
