@model DAL.Models.Test

@{
    ViewBag.Title = "Details";
}

<div class="p-0">
    <ul class="list-group">
        <li class="list-group-item active">@Html.DisplayFor(x => x.Name)</li>
        @{
            if (this.User.IsInRole("Admin"))
            {
                foreach (DAL.Models.Question item in Model.Questions)
                {
                    <li class="list-group-item">
                        @Html.DisplayFor(x => item.Name)
                        ( @Html.DisplayFor(x => item.Grade) point(s) )
                        @Html.ActionLink("Show answers", "Details", "Questions", new { Id = item.Id }, new { @class = "btn btn-outline-secondary p-1" })
                        @Html.ActionLink("Delete question", "Delete", "Questions", new { Id = item.Id, TestId = item.TestId }, new { @class = "btn btn-outline-secondary p-1" })
                    </li>
                }
                <div class="pt-4 ps-3">
                    @Html.ActionLink("Create question", "Create", "Questions", new { TestId = Model.Id }, new { @class = "btn btn-primary btn-lg p-2 me-sm-3" })
                    @Html.ActionLink("Back to list", "Index", "Tests", null, new { @class = "btn btn-outline-secondary btn-lg px-4" })
                </div>
            }
        }
    </ul>
</div>

